body{
	height:100%;
	width:100%;
	margin:0;
	max-width:100vw;
	max-height: 100vh;
	overflow:hidden;
}

.header{
	opacity:1;
	position:sticky;
	top:0;
	background:#FFFFFF;
	width:100%;
}
.display{
	width:100%;
}

/* table styling */
.rt-thead{
	position:sticky;
}
.rt-tbody{
	overflow:auto;
}
.pagination-bottom{
	position:sticky;
	bottom:0;
	background:#FFFFFF;
}

/* menu styling */
.menu {
	margin:0;
	width:100%;
	height:auto;
	overflow:auto;
}
.menu>.metadata{
	height:200px;
	display:flex;
	flex-direction:column;
}

/* test selection styling */
.menu>.test-selectors{
	display:flex;
	flex-direction:row;
	height:auto;
	flex-wrap:wrap;
}
.selector{
	flex:50%;
	display:flex;
	flex-direction:column;
	height:100%;
	overflow:auto;
}
.opt{
	display:flex;
	flex-direction:row;
}
.selection-column{
	padding-right:40px;
}
.selection-row{
	display:flex;
	flex-direction:column;
	justify-content:space-around;
	flex-wrap:wrap;
}

/* continuity selection styling */
.bottom-100{
	position:sticky;
	bottom:0;
	width:100%;
	height:30px;
}

/* metadata styling */

.col-25{
	float:left;
	width:25%;
}
.col-75{
	float:right;
	width:75%;
}
.row{
	width:100%;
}
.row:after{
	content:"";
	display:table;
	clear:both;
}
